.nav-item {
    padding-left: 20px;
}

.navbar-brand {
    width: 240px;
    padding-left: 20px;
    background-color: #dc1c4c;
}

.navbar-brand span {
    color: white;
    padding-bottom: -10px;
}

.navbar-logo {
    font-family: "Arial Black";
    padding-left: 20px;
}

.navbar {
    background-color: rgb(241, 37, 37);
}

.sidebar {
    height: 400px;
    width: 240px;
    float: left
}

.nav-item {
    border-bottom: 1px;
}

.content {
    height: 400px !important;
}